@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'antd/dist/antd.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
    --primary-color: #8294c4;
    --background-color: #dbdfea;
    --orther-color: #dbdfea;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}
